<!DOCTYPE html>
<html>
<head>
  <title>Blog en RoR</title>
  <!-- Google Font -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "partials/nav" %>
	<!-- Flash messages (from devise) -->
	<p class="notice red"><%= notice %></p>
    <p class="alert red"><%= alert %></p>

<%= yield %>

</body>
</html>
